{% extends "base.html" %}
{% block title %}Delete Todo{% endblock %}
{% block menu %}
    <li><a href="{% url 'todo_view' todo.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1 style="text-align: center">Are you sure want to delete this Todo "{{ todo }}"?</h1>
    <form method="POST" action="{% url "todo_delete" todo.pk %}" class="text-center">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary">Delete</button></p>
    </form>
    <form method="POST" action="{% url "todo_view" todo.pk %}" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Cancel</button>
    </form>
{% endblock %}