{#{% extends "base.html" %}#}
{#{% block title %}Create ToDo{% endblock %}#}
{##}
{#{% block content %}#}
{#<form method="post" action="{% url 'todo_add' %}">#}
{#    {% csrf_token %}#}
{#    <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center">#}
{#  <div class="card-header">#}
{#      <div class="form-group">#}
{#    <label>Description:</label>#}
{#    <input type="text" class="form-control" name="description" aria-describedby="Enter Description" placeholder="Enter description">#}
{#    <small class="form-text text-muted">Enter Description here.</small>#}
{#          <label>Details:</label>#}
{#    <textarea class="form-control" name="details" rows="4" placeholder="Enter Details" aria-describedby="Enter Details" ></textarea>#}
{#          <small class="form-text text-muted">Enter Details here.</small>#}
{#          <label>Status</label>#}
{#    <select class="form-control" required name="status">#}
{#        {% for i in statuses %}#}
{#            <option value="{{ i.0 }}">{{ i.1 }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <p><label>Date deadline</label><input type="date" placeholder="YYYY-MM-DD" name="date"></p>#}
{#      </div>#}
{#  <button type="submit" class="btn btn-primary">Create</button>#}
{#  </div>#}
{#    </div>#}
{#</form>#}
{#{% endblock %}#}

{% extends "base.html" %}
{% block title %}Create Todo{% endblock %}
{% block content %}
   <h1>Create Todo</h1>
   <form method="POST" action="{% url "todo_add" %}">
       {% csrf_token %}
       {% include 'partial/todo_form.html' with button_text='Create' %}
   </form>
{% endblock %}